<div class="flex min-h-screen flex-col items-center justify-center py-2">
  <main class="flex w-full md:w-1/2 flex-1 flex-col items-center p-10 md:px-20 text-center">
  </main>
</div>

<script type="application/javascript">

  var now = new Date().valueOf();
  setTimeout(function () {
    if (new Date().valueOf() - now > 100) return;
    if (isIOS()) {
      window.location = "https://itunes.apple.com";
    }

    if (navigator.platform.toLowerCase() === 'android') {
      window.location = "https://play.google.com";
    }
  }, 25);
  window.location = 'lyxauserapp://NewHomeScreen/{{referralCode}}';

  function isIOS() {
    return [
          'iPad Simulator',
          'iPhone Simulator',
          'iPod Simulator',
          'iPad',
          'iPhone',
          'iPod'
        ].includes(navigator.platform)
        // iPad on iOS 13 detection
        || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
  }

</script>
